- name: Setup workstations.
  hosts: workstations
  pre_tasks:
    - name: "Variables | Include global variables"
      ansible.builtin.include_vars:
        file: "vars/{{ file }}"
      loop:
        - secrets.yml
      loop_control:
        loop_var: file

    # Gather some additional information
    - name: "User | Get user"
      ansible.builtin.command: id -un
      changed_when: false
      register: username_check

    - name: "User | Get effective group"
      ansible.builtin.command: id -gn
      changed_when: false
      register: group_check

    - name: "DNF | Get Fedora version"
      ansible.builtin.command: rpm -E %fedora
      changed_when: false
      register: fedora_version_check

    - name: "Facts | Store gathered information as facts"
      ansible.builtin.set_fact:
        username: "{{ username_check.stdout }}"
        group: "{{ group_check.stdout }}"
        fedora_version: "{{ fedora_version_check.stdout }}"
        hostname: "{{ inventory_hostname }}"
        homedir: "~"

    - name: "System | Set hostname"
      become: true
      ansible.builtin.hostname:
        name: "{{ hostname }}"
        use: "systemd"

    - name: "System | Set timezone"
      become: true
      community.general.timezone:
        name: "Asia/Singapore"

  tasks:
    # Fish shell
    - name: "DNF | Install fish"
      become: true
      ansible.builtin.dnf:
        name: fish

    - name: "User | Set fish as shell"
      become: true
      ansible.builtin.user:
        name: "{{ username }}"
        shell: "/bin/fish"
    
    # Generate SSH key
    - name: "File | Create SSH config dir"
      ansible.builtin.file:
        path: "{{ homedir }}/.ssh/"
        state: directory
        owner: "{{ username }}"
        group: "{{ group }}"
        mode: "0700"

    - name: "Crypto | Generate SSH key."
      community.crypto.openssh_keypair:
        comment: "{{ username }}@{{ hostname }}"
        owner: "{{ username }}"
        group: "{{ group }}"
        mode: "0600"
        path: "{{ homedir }}/.ssh/id_ed25519"
        state: present
        regenerate: partial_idempotence
        type: ed25519
      register: ssh_key

    - name: "GitHub | Register SSH key."
      community.general.github_key:
        name: "{{ username }}@{{ hostname }}"
        token: "{{ github_pat_ssh_keys }}"
        pubkey: "{{ ssh_key.public_key }}"
    
    # RPM Fusion
    - name: "DNF | Install distribution-gpg-keys"
      become: true
      ansible.builtin.dnf:
        name: distribution-gpg-keys
        state: present

    - name: "DNF | Import RPM Fusion GPG key"
      become: true
      ansible.builtin.rpm_key:
        key: "{{ key }}"
        state: present
      loop_control:
        loop_var: key
      loop:
        - "/usr/share/distribution-gpg-keys/rpmfusion/RPM-GPG-KEY-rpmfusion-free-fedora-{{ fedora_version }}"
        - "/usr/share/distribution-gpg-keys/rpmfusion/RPM-GPG-KEY-rpmfusion-nonfree-fedora-{{ fedora_version }}"

    - name: "DNF | Install RPM Fusion (free)"
      become: true
      ansible.builtin.command: "dnf --assumeyes --setopt=localpkg_gpgcheck=1 install https://mirrors.rpmfusion.org/free/fedora/rpmfusion-free-release-{{ fedora_version }}.noarch.rpm"
      changed_when: true

    - name: "DNF | Install RPM Fusion (nonfree)"
      become: true
      ansible.builtin.command: "dnf --assumeyes --setopt=localpkg_gpgcheck=1 install https://mirrors.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-{{ fedora_version }}.noarch.rpm"
      changed_when: true

    - name: "DNF | Configure non-free H264 codec"
      become: true
      ansible.builtin.command: dnf config-manager setopt fedora-cisco-openh264.enabled=1
      changed_when: true

    - name: "DNF | Install RPM Fusion appstream data"
      become: true
      ansible.builtin.dnf:
        name: 
          - rpmfusion-free-appstream-data
          - rpmfusion-nonfree-appstream-data
        state: present
        
    # Virtualisation
    - name: "DNF | Install virtualisation packages"
      become: true
      ansible.builtin.dnf:
        name:
          - "@virtualization"
          - "virt-manager"
        state: present
        install_weak_deps: true

    - name: "User | Add user {{ username }} to libvirt group"
      become: true
      ansible.builtin.user:
        append: true
        groups: ["libvirt"]
        user: "{{ username }}"

    - name: "Systemd | Start libvirtd service"
      become: true
      ansible.builtin.systemd_service:
        name: libvirtd
        state: started
        enabled: true

    # Tailscale
    - name: "DNF | Add Tailscale repository"
      become: true
      ansible.builtin.yum_repository:
        name: tailscale
        description: "Tailscale repository"
        baseurl: https://pkgs.tailscale.com/stable/fedora/x86_64
        enabled: true
        gpgcheck: true
        repo_gpgcheck: true
        gpgkey: https://pkgs.tailscale.com/stable/fedora/repo.gpg

    - name: "DNF | Install Tailscale"
      become: true
      ansible.builtin.dnf:
        name: tailscale
        state: present

    - name: "Systemd | Start tailscale service"
      become: true
      ansible.builtin.systemd_service:
        name: tailscaled
        state: started
        enabled: true

    # Visual Studio Code
    - name: "DNF | Add VS Code repository"
      become: true
      ansible.builtin.yum_repository:
        name: vscode
        description: "Visual Studio Code repository"
        baseurl: https://packages.microsoft.com/yumrepos/vscode
        enabled: true
        gpgcheck: true
        gpgkey: https://packages.microsoft.com/keys/microsoft.asc

    - name: "DNF | Install VS Code"
      become: true
      ansible.builtin.dnf:
        name: code
        state: present

    # CUDA Toolkit
    - name: "DNF | Install development tools"
      become: true
      ansible.builtin.dnf:
        name: "@development-tools"
        state: present
        install_weak_deps: true

    - name: "DNF | Add CUDA repository"
      become: true
      ansible.builtin.yum_repository:
        name: cuda
        description: "Nvidia CUDA repository"
        baseurl: "https://developer.download.nvidia.com/compute/cuda/repos/fedora42/x86_64"
        enabled: true
        gpgcheck: true
        gpgkey: https://developer.download.nvidia.com/compute/cuda/repos/fedora42/x86_64/D42D0685.pub

    - name: "DNF | Make sure to use Nvidia driver from RPM Fusion"
      become: true
      ansible.builtin.command: sudo dnf config-manager setopt cuda.exclude=nvidia-driver,nvidia-modprobe,nvidia-persistenced,nvidia-settings,nvidia-libXNVCtrl,nvidia-xconfig
      changed_when: true

    - name: "DNF | Install CUDA toolkit"
      become: true
      ansible.builtin.dnf:
        name:
          - "cuda-toolkit"
          - "xorg-x11-drv-nvidia-cuda"
        state: present
        install_weak_deps: true

    # Flatpak
    - name: "Flatpak | Remove Fedora flatpak remote"
      become: true
      community.general.flatpak_remote:
        name: fedora
        state: absent
        method: system

    - name: "Flatpak | Add flathub flatpak remote"
      become: true
      community.general.flatpak_remote:
        name: flathub
        state: present
        method: system
        flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo

    # Desktop programs
    - name: "Flatpak | Install common desktop programs"
      become: true
      community.general.flatpak:
        state: present
        remote: flathub
        method: system
        name:
          - org.libreoffice.LibreOffice
          - org.gimp.GIMP
          - org.inkscape.Inkscape
          - com.super_productivity.SuperProductivity
          - org.fkoehler.KTailctl
          - md.obsidian.Obsidian
          - org.deskflow.deskflow
          - net.werwolv.ImHex
          - info.portfolio_performance.PortfolioPerformance
          
    - name: "DNF | Install common desktop programs"
      become: true
      ansible.builtin.dnf:
        state: present
        name:
          - vlc
          - nextcloud-client

    - name: "DNF | Uninstall desktop programs"
      become: true
      ansible.builtin.dnf:
        state: absent
        name:
          - dragon
          - elisa-player
          - firefox
          - firefox-langpacks
          - kmahjongg
          - kmines
          - kpat
          - libreoffice

    # Neovim
    - name: "Git | Clone neovim-config"
      ansible.builtin.git:
        accept_newhostkey: true
        dest: "{{ homedir }}/.config/nvim"
        key_file: "{{ homedir }}/.ssh/id_ed25519"
        remote: origin
        repo: "git@github.com:f-koehler/neovim-config.git"
        version: main

    # Jetbrains
    - name: "Check | Check whether Jetbrains Toolbox is installed"
      ansible.builtin.stat:
        path: "{{ homedir }}/.local/opt/jetbrains-toolbox/bin/jetbrains-toolbox"
      register: jetbrains_toolbox_check

    - name: "Install Jebtrains Toolbox"
      when: not jetbrains_toolbox_check.stat.exists
      block:
        - name: "Download | Fetch Jetbrains Toolbox"
          ansible.builtin.get_url:
            url: "https://download.jetbrains.com/toolbox/jetbrains-toolbox-3.2.0.65851.tar.gz"
            dest: "{{ homedir }}/Downloads/jetbrains-toolbox.tar.gz"

        - name: "File | Create Jetbrains Toolbox dir"
          ansible.builtin.file:
            path: "{{ homedir }}/.local/opt/jetbrains-toolbox"
            state: directory
            owner: "{{ username }}"
            group: "{{ group }}"
            mode: "0755"

        - name: "Extract | Extract Jetbains Toolbox"
          ansible.builtin.unarchive:
            src: "{{ homedir }}/Downloads/jetbrains-toolbox.tar.gz"
            dest: "{{ homedir }}/.local/opt/jetbrains-toolbox"
            extra_opts: ["--strip-components=1"]

        - name: "File | Delete Jetbrains Toolbox archive"
          ansible.builtin.file:
            src: "{{ homedir }}/Downloads/jetbrains-toolbox.tar.gz"
            state: absent

    # C++
    - name: "DNF | Install C++ development tools"
      become: true
      ansible.builtin.dnf:
        state: present
        name:
          - cmake
          - gdb
          - gcc
          - libomp
          - clang
          - make
          - ninja-build
          - clang-tools-extra

    # Podman
    - name: "DNF | Install podman"
      become: true
      ansible.builtin.dnf:
        state: present
        name:
          - podman
          - podman-machine
          - slirp4netns
          - podman-compose

