{
  packageOverrides = pkgs: with pkgs; {
    {{ username }}Packages = pkgs.buildEnv {
      name = "{{ username }}Packages";
      paths = [
        {% for pkg in nixpkgs %}
        {{ pkg }}
        {% endfor %}
      ];
    };
  };
}
